@CHARSET "UTF-8";
/* 信息展示栏 */


#content{
	width:1000px;
	margin-top:300px;
	margin:0 auto;
	background-color:#fff;
	padding-bottom: 20px;	
}
/*  one  Start */
#one{
	width:980px;
	height:24px;
	margin-left:10px;
	position:relative;
	padding-top: 7px;
}
#img{
	width:18px;
	height:24px;
	float:left;
	z-index:50;
}
#img_left{
	width:18px;
	height:18px;
	margin-top:4px;
}

#one_left{
	width:600px;
	height:24px;
	line-height: 24px;
	float:left;
	position:absolute;
	left:9px;
	z-index:3;
	margin-left:20px;
}
#one_left span{
	font-size: 13px;
	font-family: MicrosoftYaHei;
	font-weight: 600;
}
.one_left_weizhi  a{
	color: #000000;
}
.one_left_weizhi  a:hover {
	color:#ec4e00;
	background-color: #f8f7f0;
}
#one_center{
	width:400px;
	height:24px;
	float:left;
	position:absolute;
	left:630px;
}
#one_left_two{
	background:url("../image/Search.png") no-repeat scroll left center transparent;
	border-width:1px;
	border-color:#FFC881;
	border: 1px solid #f47a0e;
	border-radius:2px;
	width:220px;
	height:24px;
}
#one_right{
	width:33px;
	height:24px;
	float:left;
	position:absolute;
	left:946px;
	
}
#one_right input{
	color: #ffffff;
	background-image:url(../image/nav-on.png)
}

#button{
	width:33px;
	height:24px;
	background-color:#bb0907;
	border-color:#bb0907;
	border-radius:3px;
}

/**  two   Start  **/
/* 动态获取内容区域的样式 */

#two{
	margin-top:10px;
	width:980px;
	height:450px;
	margin-left:10px;
}
#two_left{
	width:710px;
	border: 1px solid #f1f1f1;
	float:left;
}
#two_left_top{
	width:710px;
	height:32px;
	background-image:url(../image/main.png);
}
#two_left_top_left{
	width:16px;
	height:32px;
	float:left;
	margin-left:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#two_left_top_left_center{
	width:16px;
	height:16px;
	background-image:url(../image/jt.png);
}
#two_left_top_right{
	width:670px;
	height:32px;
	line-height:32px;
	float:left;
	margin-left:10px;
}
#two_left_top_right span{
	 font-family:MicrosoftYaHei;
	 font-size:15px;
	 font-weight:bold;
}
#two_left_foot{
	width:690px;
	padding-left:10px;
	padding-right:10px
	font-size:13px;
	margin-top:10px;
	text-indent:2em; 
}




#two_right{
	width:258px;
	height:450px;
	float:left;
	margin-left:7px;
}
#two_right_1{
	width:258px;
	height:220px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
#two_right_1_top,#two_right_2_top{
	width:258px;
	height:32px;
	line-height:32px;
	background-image:url(../image/juxin_kaobei.png);
}
#two_right_1_top span,#two_right_2_top span{
	 font-family:MicrosoftYaHei;
	 font-size:13px;
	 font-weight:bold;
	 color:#cf131c;
	 padding-left:5px;
}

#two_right_1_foot,.two_right_2_foot{
	font-family:SimSun;
	font-size:13px;
	color:#393536;
	line-height:26px;
	cursor:pointer; 
	
}
#two_right_1_foot ul,.two_right_2_foot ul{
	 padding-left:10px;
	 font-size: 13px;
}
#two_right_1_foot li,.two_right_2_foot li{
	 background:url(../image/jian.png) no-repeat left center;
	 padding-left:10px;
	 height: 26px;
	 line-height: 26px;
	 font-family: SimSun;
	 color: #393536;
	
}

#two_right_1_foot li:hover,.two_right_2_foot li:hover{
	color:#ec4e00;
	background-color: #f8f7f0;
}
#two_center_foot_right,#two_center_foot_right_2{
	 height: 26px;
	 line-height: 26px;
	font-family: SimSun;
	font-size: 13px;
	color: #707070;
	float: right;
	margin-top: -25px;
	} 

#two_right_2{
	width:258px;
	height:220px;
	border: 1px solid #e5e5e5;
	margin-top:10px;
}
.clear{
	clear: both;
}
#two_right_2_foot,#two_center_foot_left{
	display:block;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 154px;
	
}

#next{
	margin-top:20px;
	margin-left:10px;
	line-height:30px;
	
}